body {
    width: 1000px;
    height: 1000px;
    margin: 54px;
    border: 5px solid black;
    padding: 8px;
    transform-style: preserve-3d;
    position: relative;
  }
  .item {
    width:  90px;
    height: 40px;
    background-color: goldenrod;
  }
  #middle {
    offset-position: auto;
    offset-path: circle(60%) margin-box;
    offset-distance: 25%;
    offset-anchor: left top;

  }
.btn{

    padding: 10px;
    background-color: coral;
    text-decoration-color: crimson;




}
