body {
    width: 1000px;
    height: 1000px;
    margin: 54px;
    border: 5px solid black;
    padding: 8px;
    transform-style: preserve-3d;
    position:absolute;
  }


h1{

    text-indent: 25px;
    color: chocolate;
    text-align: center;
    letter-spacing: 5px;
}

p{

    padding: 10px;
    text-align: center;
    text-decoration: line-through;
    color: crimson;
    text-decoration: underline;
    text-decoration-color: darkgoldenrod;
}
