html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}


h1{

    text-indent: 25px;
    color: chocolate;
    text-align: center;
    letter-spacing: 5px;
}

p{

    padding: 10px;
    text-align: center;
    text-decoration: line-through;
    color: crimson;
    text-decoration: underline;
    text-decoration-color: darkgoldenrod;
}
